/*
body {
  background-color: aliceblue;
  height: 100vh;
  flex-wrap: wrap;
}
main {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  margin-left: 40%;
  margin-top: 40px;
}
h1 {
  text-align: center;
}

div {
  background-color: white;
  width: 200px;
  height: 400px;
  margin: 10px;
  position: relative;
  border: 6px solid white;
}

div > div {
  height: 130px;
  position: absolute;
  margin-left: 0px;
  margin-top: 30px;
  border: none;
}

.father:nth-child(1) {
  background-color: tomato;
}

.father:nth-child(2) {
  background-color: teal;
}

.father:nth-child(3) {
  background-color: burlywood;
}

.father:nth-child(4) {
  background-color: thistle;
}
*/
/* 1920x1080용 */