.both {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.border {
  background-color: white;
  width: 320px;
  height: 700px;
  border-radius: 50px;
  padding: 50px 30px;
}

.header__icon{
  display: flex;
  justify-content: space-between;
  
}  
